	.table {
		background: white;
		border:1px solid grey;
		width: 1000px;
		margin:10px;
		border-radius: 3px;
	}
	.tabs{
		background: lightgrey;
		border-radius: 3px;
		width: 99%;
		margin: 5px;
	}
	.button {
		display: inline-block;
		margin: 5px 0 0 3px;px;
		background: white;
		width: 100px;
		height: 30px;
		border: 1px solid grey;
		border-radius: 3px;
		text-align: center;
		font-family: sans-serif;
		cursor: pointer;
	}
	.button p {
		margin: 10px 0;
		font-size: 12px;
	}
	.text{
		/*		display: none;*/
	}


